@import "tailwindcss";


@layer components {
  .tentacle {
    width: 60px;
    height: 200px;
    border: .5px solid black;
    border-radius: 50% 50% 40% 40% / 20% 20% 80% 80%;
    position: relative;
    transform: rotate(20deg);
    box-shadow: 0 0 15px rgba(0, 200, 100, 0.6);
    animation: wiggle 3s ease-in-out infinite;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    transition: transform 0.1s, box-shadow 0.1s;
  }

  .tentacle.clicked {
    transform: scale(1.1) rotate(20deg);
    box-shadow: 0 0 30px red;
  }

  .suction {
    width: 18px;
    height: 18px;
    border-radius: 9999px;
    box-shadow: inset 0 0 0 4px #cc66ff;
  }

  .eye-lid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
    z-index: 20;
    pointer-events: none;
  }

  .eye-lid.closed {
    transform: translateY(0%);
  }

  .bubble {
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(2px);
    animation: rise 10s linear infinite;
  }

  .tentacle-segment {
    width: 2rem;
    height: 2rem;
    margin-top: -4px;
    border-radius: 30% / 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: wiggle 2s ease-in-out infinite;
    transform-origin: center top;
  }
}

@layer utilities {
  .animate-wiggle {
    animation: wiggle 3s ease-in-out infinite;
  }

  .animate-fade-in {
    animation: fadeInTentacle 0.6s ease-out;
  }

  .animate-tentacle {
    animation: fadeInTentacle 0.6s ease-out, wiggle 3s ease-in-out infinite;
  }

  .animate-sucker-pop {
    animation: fadeInSucker .5s ease-out;
  }

  @keyframes rise {
    0% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    100% {
      transform: translateY(-800px) scale(1.2);
      opacity: 0;
    }
  }

  @keyframes fadeInTentacle {
    from {
      opacity: 0;
      transform: scale(0.5);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeInSucker {
    from {
      opacity: 0;
      transform: scale(0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes wiggle {
    0%, 100% {
      transform: rotate(.25deg);
    }

    50% {
      transform: rotate(25deg);
    }
  }

  /* @keyframes wiggle {
    0%, 100% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(5deg);
    }
  } */
}